.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  border-radius: 2%;
  width: 400px;
  height: 600px;
}

.profile:hover {
  box-shadow: 0px 0px 53px -14px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  border: 1px black;
}

.avatar:hover {
  box-shadow: 0px 0px 53px -14px rgba(0, 0, 0, 0.75);
}

.name {
  font-weight: 600;
}

.tag {
  color: grey;
}

.location {
  color: grey;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: grey;
}

.quantity {
  font-weight: 700;
}
