.item {
  width: 350px;
  height: 100px;

  display: flex;
  align-items: center;
  gap: 15px;

  background-color: rgb(251, 251, 179);
  border: 1px solid rgb(220, 220, 220);
  border-radius: 15px;
}

.item:hover {
  box-shadow: 0px 0px 53px -14px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.true::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 15px;

  background-color: rgb(115, 249, 115);
  border-radius: 50%;
}

.false::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 15px;

  background-color: rgb(251, 80, 80);
  border-radius: 50%;
}

.name {
  margin-left: 15px;
  font-weight: 600;
}
